<% include ./partials/header %>

<div class="container" style="margin-top: 100px;">

    <form>
        <h1 style="text-align: center;">Add New Blog</h1>
        <div class="form-group">
            <label for="bTitle">Blog Title</label>
            <input type="email" class="form-control" id="bTitle" aria-describedby="emailHelp" placeholder="Enter Title" name="title">
        </div>
        <div class="form-group">
            <label for="bSubTitle">Blog Sub Title</label>
            <input type="email" class="form-control" id="bSubTitle" aria-describedby="emailHelp" placeholder="Enter Subtitle" name="subTitle">
        </div>
        <div class="form-group">
            <label for="bImage">Commercial Image</label>
            <input type="email" class="form-control" id="bImage" aria-describedby="emailHelp" placeholder="Copy Image URL" name="comImage">
        </div>
        <div class="form-group">
            <label for="bBlog">Blog Text</label>
            <textarea rows="3" type="email" class="form-control" id="bBlog" aria-describedby="emailHelp" placeholder="Enter Blog Text" name="blog"></textarea>

            
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<script src="https://cdn.ckeditor.com/4.10.0/standard/ckeditor.js"></script>
<script>
    CKEDITOR.replace( 'blog' );
</script>


<% include ./partials/footer %>